<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      img{
        width: 100%;
        
      }
    
    </style>
</head>
<body >
    <img src="https://www.shutterstock.com/image-vector/welcome-back-mixed-rainbowcolored-vector-260nw-1668053902.jpg">
    <h1>welcome user {{firstname}} {{lastname}}</h1>
   <a href="/logoutuser/"><button>logout</button></a>
</body>
</html>